.footer {
  background: $primary_dark;
  color: $tertiary;
  margin-top: $margin_l;
}

.footer-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  a {
    display: block;
    padding: 0 1em;
  }
}

.footer-upper {
  padding: 1em 0;
}

.footer-lower {
  padding: 1em 0;
  background: darken($primary_dark, 3%);
}

@mixin footer-tablet {

}
