.nav {
  position: fixed;
  z-index: 10;
  background: $primary_dark;
  color: $tertiary;
  width: 100%;
  top: 0px;
  left: 0px;
}

.subnav-wrap {
  position: absolute;
  top: 100%;
  left: 0px;
  // opacity: 0;
  // pointer-events: none;
  // transition: opacity 300ms linear;
  display: none;
  width: 100%;
  background: darken($primary_dark, 3%);
}

.subnav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;

  // a {
  //   &:hover {
  //     text-decoration: underline;
  //   }
  // }
}

.mainmenu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  line-height: 2em;

  li {
    a {
      display: block;
      padding: 1em;

      // &:hover {
      //   text-decoration: none;
      // }

      &.active {
        font-weight: bold;
      }
    }

    &:hover {
      // background: darken($primary_dark, 3%);

      .subnav-wrap {
        // opacity: 1;
        // pointer-events: auto;
        display: block;
      }
    }
  }
}
