$primary: #013D45;
$secondary: #F64203;
$tertiary: #FEFFF2;
$primary_dark: #152228;
$primary_light: #01737E;

$white: #FFFFFF;
$black: #000000;
$gray: #FAFAFA;

$font_root: "../Fonts/";

$light: 100;
$normal: 400;
$medium: 500;
$bold: 700;

$container: 1280px;

$margin_l: 8em;
$margin_s: 4em;

$tablet: 768px;
$desktop: $container;
