$white: #FFFFFF;
$gray: #FAFAFA;

$font_root: "../Fonts/";

$light: 100;
$normal: 400;
$medium: 500;
$bold: 700;

$container: 1280px;

$margin_l: 8em;
$margin_s: 4em;

$tablet: 768px;
$desktop: $container;
