<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Header">
</f:section>

<f:section name="Main">
  <div class="hero-container">
    <f:if condition="{image.0}">
      <f:then>
        <picture class="hero-image">
          <source media="(min-width: 1280px)" srcset="{f:uri.image(image: '{image.0}', maxWidth: '1920')}" />
          <source media="(min-width: 768px)" srcset="{f:uri.image(image: '{image.0}', maxWidth: '1280')}" />
          <img src="{f:uri.image(image: '{image.0}', maxWidth: '768')}" />
        </picture>
      </f:then>
    </f:if>

    <div class="hero-content">
      <div class="container">
        <div class="bodytext">
          <f:render partial="Header/All" arguments="{_all}" />

          <f:if condition="{data.bodytext}">
            <f:format.html>{data.bodytext}</f:format.html>
          </f:if>
        </div>
      </div>
    </div>
  </div>
</f:section>
</html>
