<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">
  <div class="container">
    <div class="column">
      <f:if condition="{files.0}">
        <f:then>
          <picture>
            <source media="(min-width: 768px)" srcset="{f:uri.image(image: '{files.0}', maxWidth: '1248')}" />
            <img src="{f:uri.image(image: '{files.0}', maxWidth: '540')}" />
          </picture>
        </f:then>
      </f:if>
    </div>
  </div>
</f:section>
</html>
