<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
  <div class="container">
    <div class="flex">
      <div class="column prevnext-prev">
        <f:if condition="{prevpage.0}">
          <f:then>
            <f:if condition="{data.tx_mechkey_prevtext}">
              <f:then>
                <f:format.html>{data.tx_mechkey_prevtext}</f:format.html>
              </f:then>
            </f:if>

            <f:link.typolink parameter="{prevpage.0.link}" class="btn">
              <i class="fas fa-angle-left"></i> {prevpage.0.title}
            </f:link.typolink>
          </f:then>
        </f:if>
      </div>
      <div class="column prevnext-next">
        <f:if condition="{nextpage.0}">
          <f:then>
            <f:if condition="{data.tx_mechkey_nexttext}">
              <f:then>
                <f:format.html>{data.tx_mechkey_nexttext}</f:format.html>
              </f:then>
            </f:if>

            <f:link.typolink parameter="{nextpage.0.link}" class="btn">
              {nextpage.0.title} <i class="fas fa-angle-right"></i>
            </f:link.typolink>
          </f:then>
        </f:if>
      </div>
    </div>
  </div>

</f:section>
</html>
