@font-face {
  font-family: "Outfit";
  font-style: "normal";
  font-weight: 100;
  src: url("../Fonts/Outfit/Outfit-ExtraLight.ttf") format("ttf");
}
@font-face {
  font-family: "Outfit";
  font-style: "normal";
  font-weight: 400;
  src: url("../Fonts/Outfit/Outfit-Regular.ttf") format("ttf");
}
html, body {
  font-family: "Outfit", Helvetica, sans-serif;
  margin: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.8em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1, h2, h3 {
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto !important;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.wrapper {
  margin-top: 4em;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.column {
  padding-left: 1em;
  padding-right: 1em;
}

.flex {
  display: flex;
}
.flex > .column {
  flex: 1;
}
.flex.reverse {
  flex-direction: row-reverse;
}

.frame-space-before-small {
  margin-top: 4em;
}
.frame-space-before-large {
  margin-top: 8em;
}

.frame-space-after-small {
  margin-bottom: 4em;
}
.frame-space-after-large {
  margin-bottom: 8em;
}

.frame-layout-1 {
  padding-left: 10%;
}
.frame-layout-2 {
  padding-right: 10%;
}
.frame-layout-3 {
  padding-left: 10%;
  padding-right: 10%;
}

.bodytext *:first-child {
  margin-top: 0;
}
.bodytext *:last-child {
  margin-top: 0;
}

.nav {
  position: fixed;
  z-index: 10;
  background: #FAFAFA;
  width: 100%;
  top: 0px;
  left: 0px;
}

.subnav-wrap {
  position: absolute;
  top: 100%;
  left: 0px;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  background: #f2f2f2;
  transition: opacity 300ms linear;
}

.subnav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.mainmenu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  line-height: 2em;
}
.mainmenu li a {
  display: block;
  padding: 1em;
}
.mainmenu li a.active {
  font-weight: bold;
}
.mainmenu li:hover .subnav-wrap {
  opacity: 1;
  pointer-events: auto;
}

.footer {
  background: #FAFAFA;
  padding: 1em 0;
  margin-top: 8em;
}

.footer-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.footer-nav a {
  display: block;
  padding: 0 1em;
}

.home-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}

.home-item {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
}

.frame-type-table table {
  width: 100%;
}
.frame-type-table table tr td {
  padding: 0.5em 1em;
}
.frame-type-table table tr:hover {
  background: #FAFAFA;
}

.hero-container {
  overflow: hidden;
  position: relative;
}

.hero-image {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero-content {
  padding: 8em 0;
  position: relative;
  z-index: 2;
}
.hero-content h1 {
  font-size: 5vw;
  font-weight: 100;
}

@media (max-width: 1280px) {
  .hero-content {
    padding: 10vw 0;
  }
}
@media (max-width: 768px) {
  .home-item {
    flex: 100%;
    font-size: 2em;
  }

  .hero-content {
    padding: 4em 0;
  }
}

/*# sourceMappingURL=style.css.map */
